NODE_ENV=development
PORT=3000

MONGODB_URI=mongodb://localhost:27017/habit-tracker

JWT_SECRET=jwt-key
JWT_EXPIRES_IN=7d

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=your-smtp-user
SMTP_PASS=your-smtp-password
SMTP_FROM=noreply@habittracker.app

CLIENT_URL=http://localhost:8081
